<html>
	<head>
		<title>GoLF engine</title>
        <script src="wasm_exec.js"></script>
		<script>
			const go = new Go();
			WebAssembly.instantiateStreaming(fetch('main.wasm'),go.importObject).then( res=> {
				go.run(res.instance)	
			})
		</script>
	<style>
body {
	margin:0;
	padding:0;
	background-color: #0c0e12;
}
#canvascontainer {
	width: 100%;
	text-align: center;
}
#golfcanvas {
	height: 100vh;
	cursor: none;
}
	</style>
	</head>
	<body>
		<div id="canvascontainer">
			<canvas width=768 height=768 id="golfcanvas"></canvas>
		</div>
        <script src="draw.js"></script>
	</body>
</html>